.outer{
  height: 100vh;
  background: linear-gradient(to top, #c9c9c9 50%, #6e6e6e 90%) no-repeat;
}

.panel-heading{
  text-align: center;
  margin-bottom: 10px;
}

#forget{
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #d6954a;
}

.form-inline label{
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.btn{
  margin-top: 20px;
  border-radius: 5px;
  color: white !important;
  background-color: #d6954a;
  border-color: #d6954a;

}

.panel{
  min-height: 380px;
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 12px;
  margin-top: 100px;
}

.input-field{
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #d6954a;
}

.input-field.error{
  border: 1px solid red;
  color: red;
}

input[type='text'],
input[type='password']{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn{
  border: none;
  outline: none;
  box-shadow: none;
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd;
  min-height: 380px;
  min-width: 300px;
  border-radius: 12px;
  margin-top: 20px;
  z-index: 10;
  padding: 20px;
}

.blur {
  filter: blur(5px);
}

.user-id{
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
  border-color: #d6954a;
  color: #d6954a;
}

button[disabled] {
  cursor: not-allowed;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}


.change-password-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.change-password-text {
  margin-right: 10px;
}

.change-password-button {
  margin-left: auto;
}
