
.outer{
  height: 100vh;
  background: linear-gradient(to top, #c9c9c9 50%, #6e6e6e 90%) no-repeat;
}

.panel-heading{
  text-align: center;
  margin-bottom: 10px;
}

#forget{
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #d6954a;
}

.form-inline label{
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.btn{
  margin-top: 20px;
  border-radius: 15px;
  color: white !important;
  background-color: #d6954a;
  border-color: #d6954a;

}

.panel{
  min-height: 380px;
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 12px;
  margin-top: 100px;
}

.input-field{
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #d6954a;

}

.input-field.error{
  border: 1px solid red;
  color: red;
}

input[type='text'],
input[type='password']{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn{
border:none;outline:none;box-shadow:none;}

img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
}

.pagination button {
  background-color: #d6954a;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #FFC107;
}

.pagination button:disabled {
  background-color: #E0E0E0;
  cursor: not-allowed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.right-div {
  width: 100px;
  height: 40px;
  background-color: #d6954a;
  border-radius: 5px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-weight:bold
}

.curr-price {
  background-position-x: 2;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content:center;
  color:green;
  font-weight:bold;
}

